.luffy-sprite {
  position: absolute;
  background: url("/Sprite/luffy.png") no-repeat;
  transform: scale(1.5);
  transform-origin: center;
  width: 30px;
  height: 46px;
}

.luffy-sprite.flip {
  transform: scale(1.5) scaleX(-1);
}
